# macOS
.DS_Store
**/.DS_Store
RMI/.DS_Store

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Java / build outputs
*.class
*.jar
*.war
*.ear
*.log
/out/
/bin/
/build/
/target/
/.gradle/
/.mvn/

# Specific compiled artifacts & jar
RMI/Client/Client/Client$1.class
RMI/Client/Client/Client.class
RMI/Client/Client/Command.class
RMI/Client/Client/RMIClient.class
RMI/Server/RMIInterface.jar
