# macOS
.DS_Store
**/.DS_Store
Template/.DS_Store

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Java / build outputs
*.class
*.jar
*.war
*.ear
*.log
/out/
/bin/
/build/
/target/
/.gradle/
/.mvn/

# Specific compiled artifacts & jar
Template/Client/Client/Client$1.class
Template/Client/Client/Client.class
Template/Client/Client/Command.class
Template/Client/Client/RMIClient.class
Template/Server/Server/Common/
Template/Server/Server/Interface/
Template/Server/Server/RMI/
Template/Server/RMIInterface.jar
